credentials.txt
order_new.js

/strapi
/my-strapi-shop-api
/api
create_intent.js


/client/vite.config.js

/PHP

/client/src/pages/products/ProductList_backup.jsx
/client/src/pages/products/ProductList_strapi.jsx

/client/src/pages/products/Products_backup.jsx
/client/src/pages/products/Products_strapi.jsx
