/**********************
GLOBAL CSS
**********************/
*,
::before,
::after {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.defaults div, .defaults h1, .defaults h2, .defaults h3 {
  margin: 15px 0;
  padding: 15px 0;
}
.defaults li {
  line-height: 1.5;
}

html {
  font-size: 100%;
  font-family: "Oswald", sans-serif;
  height: 100%;
  scroll-behavior: smooth;
}

body {
  height: 100%;
  color: #333333;
  cursor: pointer;
  line-height: 1;
  background-color: #ffffff;
}
body a:link,
body a:visited,
body a:active {
  color: #ffffff;
  text-decoration: none;
}
body a:hover {
  color: #ffffff;
  text-decoration: underline;
}
body a.dark-link:link,
body a.dark-link:visited,
body a.dark-link:active {
  color: #333333;
  text-decoration: none;
}
body a.dark-link:hover {
  color: #333333;
  text-decoration: underline;
}
body * {
  font-family: "Arial", "Verdana", sans-serif;
}
body * {
  box-sizing: border-box;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.75rem;
}

h3 {
  font-size: 1.375rem;
}

h4 {
  font-size: 1.25rem;
}

h5 {
  font-size: 1.125rem;
}

section {
  margin-bottom: 60px;
}

p {
  line-height: 1.5;
}

.logo {
  font-size: 2rem;
  color: #c3bfbf;
}

.caption {
  font-size: 0.85rem;
  color: #c3bfbf;
  margin-left: 2%;
}
.caption.ontop {
  margin-top: -20px;
}

.btn {
  cursor: pointer;
  border: transparent;
  border-radius: 0.1875rem;
  padding: 2%;
  display: block;
  margin: 0px auto;
  font-size: 1.25rem;
  margin-top: 30px;
}
.btn.darkbtn {
  background-color: rgb(32, 106, 116);
  color: #ffffff;
}
.btn.lightbtn {
  background-color: #d3d3d3;
  color: #333333;
}

button {
  background-color: rgb(32, 106, 116);
  cursor: pointer;
  border-radius: 2px;
  color: #ffffff;
}

img {
  width: 100%;
  display: block;
  border-radius: 3px;
  -o-object-fit: cover;
     object-fit: cover;
  margin-bottom: 0px;
}

.page-center {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin: 0;
  height: 100vh;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  background-color: #333333;
  width: 100%;
  padding-left: 5px;
  color: #ffffff;
  height: 50px;
}
header .logo {
  font-size: 2rem;
}

.logo-letter-img {
  height: 100px;
  width: auto;
}

.flexcolumn {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin: 0;
  cursor: pointer;
}

.flexrow {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  margin: 0;
  gap: 20px;
  cursor: pointer;
}
.flexrow .flex1 {
  flex: 1;
}
.flexrow .flex2 {
  flex: 2;
}
.flexrow .flex3 {
  flex: 4;
}
.flexrow.spacebetween {
  justify-content: space-between;
}
.flexrow.spaceevenly {
  justify-content: space-evenly;
}
.flexrow.flexend {
  justify-content: flex-end;
}

.statement {
  color: rgb(32, 106, 116);
  line-height: 1.5;
  margin: 0 20%;
  text-align: center;
  margin-bottom: 30px;
}
.statement .cursive-script {
  font-family: "Dancing Script", cursive;
  font-size: 2.5rem;
}
.statement .cursive-script.product {
  font-size: 1.563rem;
}
.statement .sub-statement {
  color: rgb(187, 139, 16);
  font-size: 1.25rem;
  font-family: "PT Sans Narrow", sans-serif;
  letter-spacing: 1.2px;
  word-spacing: 5px;
}
.statement .quote {
  padding-right: 10px;
  font-size: 2.5rem;
}

.darkfont {
  color: #000000;
}

.brightfont {
  color: rgb(164, 228, 237);
}

.lightfont {
  color: #ffffff;
}

.center {
  text-align: center;
  margin-bottom: 30px;
}

.justify {
  text-align: justify;
  margin-bottom: 60px;
}

.left {
  text-align: left;
  margin-bottom: 60px;
}

.right {
  text-align: right;
  margin-bottom: 60px;
}

.center {
  text-align: center;
  margin-bottom: 60px;
}

.bold {
  font-weight: bold;
}

.italics {
  font-style: italic;
}

.hidden {
  display: none;
}

.big-quotemark {
  font-size: 7rem;
}

.med-quotemark {
  font-size: 5rem;
}

.sm-quotemark {
  font-size: 3rem;
}

.quote-text {
  font-size: 1.563rem;
}

.width70 {
  width: 70%;
  margin: auto;
}

.width80 {
  width: 80%;
  margin: auto;
}

.width90 {
  width: 90%;
  margin: auto;
}

.margin70 {
  width: 70%;
  margin: auto;
}

.margin80 {
  width: 80%;
  margin: auto;
}

.marginbtm30 {
  margin-bottom: 30px;
}

.marginbtm60 {
  margin-bottom: 60px;
}

.marginbtm80 {
  margin-bottom: 80px;
}

.remove-margin {
  margin-bottom: 0px;
}

.hrdark {
  color: rgb(32, 106, 116);
  height: 5px;
  background-color: rgb(32, 106, 116);
  border: 1px solid rgb(32, 106, 116);
}

.hrbright {
  color: rgb(164, 228, 237);
  height: 5px;
  background-color: rgb(164, 228, 237);
  border: 1px solid rgb(164, 228, 237);
}

.box-shaddow {
  color: #c3bfbf;
  box-shadow: 5px 10px 10px #c3bfbf;
}
.box-shaddow:hover {
  box-shadow: 5px 10px 20px #c3bfbf;
}

.app {
  width: 100%;
}

.section {
  margin: auto;
  margin-top: 40px;
  width: 95%;
}

@media only screen and (max-width: 992px) {
  .responsive {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin: 0;
  }
  .responsive.products .left-side {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: flex-start;
    margin: 0;
    position: relative;
    top: 0px;
    margin-bottom: 60px;
    width: 100%;
  }
  .responsive.products .left-side h2 {
    font-size: 1.25rem;
  }
  .responsive.products .right-side .product-list {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    margin: 0;
  }
  .responsive.single-products .right-side {
    align-items: center;
  }
  .responsive.categories {
    height: auto;
    align-items: center;
  }
  .responsive.categories .grid {
    max-width: 300px;
  }
  .responsive.footer {
    margin: 0 10%;
  }
  .responsive.bottom-footer {
    flex-direction: column;
    align-items: center;
  }
  .responsive.contact {
    flex-direction: column;
    align-items: center;
  }
  .statement .cursive-script {
    font-size: 1.875rem;
  }
  .statement .cursive-script.product {
    font-size: 1.563rem;
  }
  .statement .quote {
    padding-right: 10px;
    font-size: 2.5rem;
  }
  .logo {
    font-size: 1rem;
    color: #c3bfbf;
  }
}/*# sourceMappingURL=main.css.map */