.products {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  margin: 0;
}
.products .left-side {
  flex: 1;
  position: sticky;
  height: 100%;
  top: 50px;
}
.products .left-side .search-div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  margin: 0;
  width: 100%;
}
.products .left-side .search-div .search-input {
  border-radius: 5px;
  width: 100%;
  font-size: 1.25rem;
  padding: 1%;
  margin-bottom: 20px;
}
.products .left-side .search-div .icon {
  font-size: 30px;
  margin-left: 1%;
}
.products .left-side .filterItem h2 {
  margin: 30px 0;
}
.products .left-side .filterItem input {
  margin-bottom: 10px;
}
.products .left-side .filterItem label {
  padding-left: 5px;
}
.products .right-side {
  flex: 3;
  margin-left: 30px;
}
.products .right-side .product-nav-div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  height: 50px;
  width: 80%;
  margin: auto;
  font-weight: bold;
}
.products .right-side .product-nav-div a.product-nav-link:link,
.products .right-side .product-nav-div a.product-nav-link:visited,
.products .right-side .product-nav-div a.product-nav-link:active {
  color: #333333;
  text-decoration: none;
}
.products .right-side .product-nav-div a.product-nav-link:hover {
  color: #333333;
  text-decoration: underline;
}
.products .right-side .search-div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  margin: 0;
  width: 100%;
}
.products .right-side .search-div .search-input {
  border-radius: 5px;
  width: 100%;
  font-size: 1.25rem;
  padding: 1%;
  margin-bottom: 20px;
}
.products .right-side .search-div .icon {
  font-size: 30px;
  margin-left: 1%;
}
.products .right-side .right-img {
  height: 300px;
  overflow: hidden;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.products .right-side .product-img {
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
}

.sale-price {
  text-decoration: line-through;
  color: #c3bfbf;
  margin-right: 10px;
}

.product-list {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  margin: 0;
  flex-wrap: wrap;
  gap: 20px;
}
.product-list .product-list-div {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin: 0;
  width: 230px;
  height: 375px;
  gap: 10px;
  padding: 10px;
  border: 1px solid #c3bfbf;
}
.product-list .product-list-div .product-list-desc .product-desc {
  font-weight: bold;
}
.product-list .product-list-div .product-list-desc .product-details {
  display: flex;
  justify-content: space-between;
}
.product-list .product-list-div .product-list-desc .product-details .fillheart {
  color: #333333;
}
.product-list .product-list-div .product-list-desc .product-details .outline {
  background: #333333;
}

.single-product {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  margin: 0;
  gap: 30px;
}
.single-product .left-side {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  margin: 0;
  flex: 1;
  gap: 30px;
}
.single-product .left-side .thumbnail {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin: 0;
  gap: 10px;
  flex: 1;
  border: none;
}
.single-product .left-side .thumbnail .thumbnail-image {
  width: 150px;
  height: auto;
  border: none;
}
.single-product .left-side .main-image {
  width: 300px;
  height: auto;
  overflow: hidden;
  flex: 5;
}
.single-product .left-side .main-image img {
  width: 100%;
  height: 100%;
}
.single-product .right-side {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  margin: 0;
  flex: 1;
}
.single-product .right-side .product-desc {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin: 0;
  height: auto;
  gap: 20px;
}
.single-product .right-side .product-desc .quantity {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin: 0;
}
.single-product .right-side .product-desc .quantity .quantity-btn {
  width: 30px;
  height: 40px;
  font-size: 1.25rem;
  margin: 0 5px;
}
.single-product .right-side .product-desc .product-add-btn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 1.5%;
  width: 150px;
}
.single-product .right-side .product-desc .product-add-btn .icon {
  font-size: 1.25rem;
  margin-right: 5px;
}
.single-product .right-side .product-desc .product-like-links {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  gap: 40px;
}
.single-product .right-side .product-desc .product-like-links .link {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin: 0;
  font-size: 11px;
}
.single-product .right-side .product-desc .product-like-links .link .icon {
  font-size: 1.25rem;
  margin-right: 5px;
}
.single-product .right-side .product-desc .other-info {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin: 0;
  gap: 10px;
  font-size: 1.25rem;
}
.single-product .right-side .product-desc .other-info h2 {
  margin-bottom: 30px;
}
.single-product .right-side .product-desc .other-info hr {
  width: 100%;
}
.single-product .right-side .product-desc .other-info .other {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin: 0;
  gap: 10px;
  font-size: 11px;
}
.single-product .right-side .product-desc .other-info .other hr {
  width: 100%;
}
.single-product .right-side .product-like-links {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  gap: 40px;
}
.single-product .right-side .product-like-links .link {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin: 0;
  font-size: 11px;
}
.single-product .right-side .product-like-links .link .icon {
  font-size: 1.25rem;
  margin-right: 5px;
}

@media screen and (max-width: 992px) {
  .products {
    flex-direction: column;
  }
}/*# sourceMappingURL=products.css.map */